:root {
  --ev-c-white: #ffffff;
  --ev-c-white-soft: #f8f8f8;
  --ev-c-white-mute: #f2f2f2;

  --ev-c-black: #1b1b1f;
  --ev-c-black-soft: #222222;
  --ev-c-black-mute: #282828;

  --ev-c-gray-1: #515c67;
  --ev-c-gray-2: #414853;
  --ev-c-gray-3: #32363f;

  --ev-c-text-1: rgba(255, 255, 245, 0.86);
  --ev-c-text-2: rgba(235, 235, 245, 0.6);
  --ev-c-text-3: rgba(235, 235, 245, 0.38);

  --ev-button-alt-border: transparent;
  --ev-button-alt-text: var(--ev-c-text-1);
  --ev-button-alt-bg: var(--ev-c-gray-3);
  --ev-button-alt-hover-border: transparent;
  --ev-button-alt-hover-text: var(--ev-c-text-1);
  --ev-button-alt-hover-bg: var(--ev-c-gray-2);
}

:root {
  --color-background: var(--ev-c-black);
  --color-background-soft: var(--ev-c-black-soft);
  --color-background-mute: var(--ev-c-black-mute);

  --color-text: var(--ev-c-text-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.header-title h4 {
  line-height: 30px;
  color: #353535;
  font-size: 15px;
}

.header-title {
  flex: 1;
}

.option-btn {
  width: 45px;
  height: 30px;
  margin: 0 !important;
}

.option-btn i {
  font-size: 1.75em;
}

.el-overlay {
  border-radius: 8px;
}

.el-drawer.rtl {
  border: 1px solid #e0e0e0;
}

.el-table .cell {
  font-size: 0.9em;
}

.el-dialog__title {
  font-size: 1em;
}

.el-drawer__header {
  margin-bottom: 0;
}

.records .el-drawer__body {
  padding: 12px 0 !important;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-c-start {
  align-items: flex-start;
}

.flex-c-center {
  align-items: center;
}

.flex-c-end {
  align-items: flex-end;
}

.flex-c-between {
  align-items: space-between;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.gap-2 {
  gap: 2px
}

.gap-3 {
  gap: 3px
}

.gap-4 {
  gap: 4px
}

.gap-8 {
  gap: 8px
}

.t-select {
  user-select: text;
}

.t-n {
  user-select: none !important;
}

.c-pointer {
  cursor: pointer;
}

.t-primary {
  color: #5F89DF;
  user-select: text;
}

.t-black {
  color: black;
  user-select: text;
}

.t-gray {
  color: gray;
  user-select: text;
}

.t-red {
  color: rgb(250, 58, 58);
  user-select: text;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.b-500 {
  font-weight: 500;
}

.b-600 {
  font-weight: 600;
}

.m-2 {
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.m-l-2 {
  margin-left: 2px;
}

.m-l-4 {
  margin-left: 4px;
}

.m-r-2 {
  margin-right: 2px;
}

.m-r-4 {
  margin-right: 4px;
}

.m-b-2 {
  margin-bottom: 2px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-l-6 {
  padding-left: 6px;
}

.p-r-6 {
  padding-right: 6px;
}

.p-10 {
  padding: 10px;
}