electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://mirrors.cloud.tencent.com/npm/
; 代理配置
http-proxy = http://127.0.0.1:1070
https-proxy = http://127.0.0.1:1070
no-proxy = localhost,127.0.0.1,.local
