electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://mirrors.cloud.tencent.com/npm/

https-proxy=http://127.0.0.1:1070
http-proxy=http://127.0.0.1:1070
