@font-face {
  font-family: "iconfont"; /* Project id 4661782 */
  src: url('iconfont.woff2?t=1726017318674') format('woff2'),
       url('iconfont.woff?t=1726017318674') format('woff'),
       url('iconfont.ttf?t=1726017318674') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdingdingd:before {
  content: "\e7c0";
}

.icon-exceldaochu:before {
  content: "\e6bf";
}

.icon-Excel:before {
  content: "\e6df";
}

.icon-excelwenjian:before {
  content: "\e745";
}

.icon-operate:before {
  content: "\e775";
}

.icon-chehuisekuai:before {
  content: "\e602";
}

.icon-chehui:before {
  content: "\e643";
}

.icon-shenpizhong:before {
  content: "\e729";
}

.icon-note:before {
  content: "\e737";
}

.icon-copy:before {
  content: "\e739";
}

.icon-approve-author:before {
  content: "\e782";
}

.icon-number:before {
  content: "\e717";
}

.icon-category:before {
  content: "\e72b";
}

.icon-department:before {
  content: "\e725";
}

.icon-system-info:before {
  content: "\e75b";
}

.icon-amount:before {
  content: "\e76e";
}

.icon-amount-cny:before {
  content: "\e771";
}

.icon-undertaker:before {
  content: "\e784";
}

.icon-approver:before {
  content: "\e785";
}

.icon-currency-rate:before {
  content: "\e7a2";
}

.icon-approve:before {
  content: "\e7a6";
}

.icon-time:before {
  content: "\e7be";
}

.icon-country:before {
  content: "\e7e4";
}

.icon-tianjia:before {
  content: "\e64f";
}

.icon-normal:before {
  content: "\e65c";
}

.icon-close:before {
  content: "\e839";
}

.icon-min:before {
  content: "\e840";
}

.icon-pin:before {
  content: "\e863";
}

.icon-unpin:before {
  content: "\e864";
}

.icon-max:before {
  content: "\e869";
}

.icon-history-record:before {
  content: "\e73e";
}

.icon-import:before {
  content: "\e740";
}

.icon-edit:before {
  content: "\e781";
}

.icon-setting2:before {
  content: "\e7ab";
}

.icon-jietu:before {
  content: "\e681";
}

.icon-setting:before {
  content: "\e752";
}

.icon-bank-account:before {
  content: "\e722";
}

.icon-bank-transfer:before {
  content: "\e723";
}

.icon-fund-intransit:before {
  content: "\e7a0";
}

.icon-payment:before {
  content: "\e7dc";
}

